openapi: 3.0.1
info:
  title: Consoled REST APIs
  description: "Once you have gone through the documentation on Bytebeam Cloud, \n\
    \                                          you might want to integrate Bytebeam\
    \ programmatically in your own applications. \n                              \
    \            Our REST API is available to you for performing all operations you\
    \ can do on the Cloud platform UI."
  termsOfService: https://bytebeam.io/terms
  version: 0.0.1
externalDocs:
  description: Product Documentation
  url: https://bytebeam.io/docs
servers:
  - url: https://cloud.bytebeam.io/
security:
  - apiKeyAuth: []
    tenantAuth: []
tags:
  - name: admin
    description: Admin APIs
  - name: devices
    description: Device Management
  - name: data
    description: Data Access APIs
  - name: logs
    description: Audit Logs
  - name: misc
    description: Miscellaneous
paths:
  /api/v1/devices:
    get:
      tags:
        - devices
      summary: Get the list of devices - paginated.
      parameters:
        - name: page
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
        - name: action-id
          in: query
          schema:
            type: integer
            format: int64
        - name: sortkey
          in: query
          schema:
            type: string
        - name: sortorder
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceSearchItem'
            application/transit+msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceSearchItem'
            application/transit+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceSearchItem'
            application/edn:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceSearchItem'
            id:
              example: 1
            status:
              example: active
            state:
              example:
                mode: "on"
                speed: 100
            metadata:
              example:
                make: Tesla
                model: Model S
            action:
              example:
                progress: 0
                user_name: Mock User
                user_email: user@bytebeam.io
                errors: "[]"
                updated_at: 2024-05-11T02:43:54Z
                status: Queued
                type: update_geofence
                created_at: 2024-05-11T02:43:54Z
                action_id: 154
                icon: update_geofence_icon
  /api/v1/devices/count:
    get:
      tags:
        - devices
      summary: Return the count of devices for pagination
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
        - name: key
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/state-keys:
    get:
      tags: []
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/{device-id}:
    put:
      tags:
        - devices
      summary: Allows update status of a device
      parameters:
        - name: device-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
          application/edn:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: DeviceUpdate
  /api/v1/devices/search:
    get:
      tags:
        - devices
      summary: Find devices by device state keys
      parameters:
        - name: key
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
            enum:
              - state
              - metadata
        - name: page
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: action-id
          in: query
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
      responses:
        default:
          description: ""
          content: {}
    post:
      tags: []
      summary: Search device by metadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceFilters'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/DeviceFilters'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/DeviceFilters'
          application/edn:
            schema:
              $ref: '#/components/schemas/DeviceFilters'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: DeviceFilters
  /api/v1/devices/action/status:
    post:
      tags: []
      summary: Updates the status of the action triggered on the device
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RumqttMessage'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/RumqttMessage'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/RumqttMessage'
          application/edn:
            schema:
              $ref: '#/components/schemas/RumqttMessage'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: RumqttMessage
  /api/v1/devices/filter-options:
    get:
      tags: []
      summary: Get metadata key and available options
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/{device_id}/actions:
    get:
      tags: []
      summary: Get device actions given device id
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: action_ids
          in: query
          schema:
            type: string
        - name: incomplete
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: action_types
          in: query
          schema:
            type: string
        - name: sort_column
          in: query
          schema:
            type: string
            enum:
              - errors
              - type
              - user_email
              - action_id
              - updated_at
              - status
              - user_name
        - name: creators
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/edn:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
  /api/v1/devices/{device_id}/actions/filter-options:
    get:
      tags: []
      summary: Returns available filters for searching actions of a device
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: incomplete
          in: query
          schema:
            type: boolean
        - name: action_types
          in: query
          schema:
            type: string
        - name: creators
          in: query
          schema:
            type: string
        - name: action_ids
          in: query
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/{id}/actions/mark_as_completed:
    put:
      tags: []
      summary: Mark all device actions given device id as completed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response677'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response677'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response677'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response677'
  /api/v1/device_components:
    get:
      tags: []
      summary: Get all device components
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - inactive
              - all
              - active
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response678'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response678'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response678'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response678'
  /api/v1/actions:
    get:
      tags: []
      summary: Show overall progress of actions triggered
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: incomplete
          in: query
          schema:
            type: boolean
        - name: action_types
          in: query
          schema:
            type: string
        - name: creators
          in: query
          schema:
            type: string
        - name: ids
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
            application/edn:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
    post:
      tags:
        - devices
      summary: Trigger an action on a bunch of devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/edn:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response682'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response682'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response682'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response682'
      x-codegen-request-body-name: ActionsRequest
  /api/v1/actions/filter-options:
    get:
      tags: []
      summary: Takes a filter and returns parameters matching that filter
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: incomplete
          in: query
          schema:
            type: boolean
        - name: action_types
          in: query
          schema:
            type: string
        - name: creators
          in: query
          schema:
            type: string
        - name: ids
          in: query
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/actions/{id}:
    get:
      tags:
        - devices
      summary: Get action for device
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/ActionResponse'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
            application/edn:
              schema:
                $ref: '#/components/schemas/ActionResponse'
  /api/v1/actions/{id}/params:
    get:
      tags:
        - devices
      summary: Get params for an action
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response686'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response686'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response686'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response686'
  /api/v1/actions/{id}/progress_histogram:
    get:
      tags:
        - devices
      summary: Return stats about the progress of various devices this action was
        triggered on
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionProgressStats'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/ActionProgressStats'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/ActionProgressStats'
            application/edn:
              schema:
                $ref: '#/components/schemas/ActionProgressStats'
  /api/v1/actions/{action-id}/device_actions/{device-id}/logs:
    get:
      tags:
        - devices
      summary: Return logs of actions per device
      parameters:
        - name: timestamp
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: action-id
          in: path
          required: true
          schema:
            type: string
        - name: device-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/actions/{id}/device_actions:
    get:
      tags:
        - devices
      summary: Return paginated progress of actions per device
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: phase
          in: query
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
            application/edn:
              schema:
                $ref: '#/components/schemas/DeviceActionsResponse'
  /api/v1/actions/request:
    post:
      tags:
        - devices
      summary: Request to trigger actions; someone with permission will approve
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
          application/edn:
            schema:
              $ref: '#/components/schemas/ActionsRequest'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response689'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response689'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response689'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response689'
      x-codegen-request-body-name: ActionsRequest
  /api/v1/actions/{id}/approve:
    put:
      tags:
        - devices
      summary: Approve an action
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/actions/mark_as_completed:
    put:
      tags:
        - devices
      summary: Mark all actions for devices matching the filters as completed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body647'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body647'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body647'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body647'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body647
  /api/v1/actions/{id}/mark_as_completed:
    put:
      tags:
        - devices
      summary: Mark a subset of devices for an action as completed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
                - {}
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
          application/transit+msgpack:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
                - {}
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
          application/transit+json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
                - {}
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
          application/edn:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
                - {}
                - $ref: '#/components/schemas/MarkActionAsCompletedSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: MarkActionAsCompletedSchema
  /api/v1/actions/{action_id}/cancel:
    post:
      tags:
        - devices
      summary: Attempt cancelling this action
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
          application/transit+msgpack:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
          application/transit+json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
          application/edn:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
                - $ref: '#/components/schemas/CancelActionSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: CancelActionSchema
  /api/v1/actions/{id}/error-stats:
    get:
      tags:
        - devices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response690'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response690'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response690'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response690'
  /api/v1/actions/{action_id}/device-latencies:
    post:
      tags:
        - devices
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body648'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body648'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body648'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body648'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Response692'
            application/transit+msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Response692'
            application/transit+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Response692'
            application/edn:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Response692'
      x-codegen-request-body-name: Body648
  /api/v1/actions/{action-id}/device-latencies/states:
    get:
      tags:
        - devices
      parameters:
        - name: action-id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/transit+msgpack:
              schema:
                type: array
                items:
                  type: string
            application/transit+json:
              schema:
                type: array
                items:
                  type: string
            application/edn:
              schema:
                type: array
                items:
                  type: string
  /api/v1/actions/{action_id}/retry:
    post:
      tags:
        - devices
      summary: Retry an action on some devices
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
          application/transit+msgpack:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
          application/transit+json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
          application/edn:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
                - $ref: '#/components/schemas/RetryActionSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: RetryActionSchema
  /api/v1/pending-actions:
    post:
      tags:
        - devices
      summary: Return all pending actions for devices matching the given filters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body649'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body649'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body649'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body649'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response694'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response694'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response694'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response694'
      x-codegen-request-body-name: Body649
  /api/v1/action-types:
    get:
      tags:
        - devices
      summary: Returns a list of all action types
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - devices
      summary: Creates a new action-type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionTypeSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ActionTypeSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ActionTypeSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/ActionTypeSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ActionTypeSchema
  /api/v1/action-types/{action-type-name}/reactivate:
    put:
      tags:
        - devices
      summary: Updates an existing action type
      parameters:
        - name: action-type-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/action-types/{action-type-name}:
    put:
      tags:
        - devices
      summary: Updates an existing action type
      parameters:
        - name: action-type-name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/BaseSchema'
          application/transit+msgpack:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/BaseSchema'
          application/transit+json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/BaseSchema'
          application/edn:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/BaseSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: EditActionTypeSchema
    delete:
      tags:
        - devices
      summary: Delete an action-type
      parameters:
        - name: action-type-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/metadata:
    post:
      tags:
        - devices
      summary: Update metadata(s) for a device(s)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/UpdateDeviceMetadata'
                - type: array
                  items:
                    $ref: '#/components/schemas/UpdateDeviceMetadata'
          application/transit+msgpack:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/UpdateDeviceMetadata'
                - type: array
                  items:
                    $ref: '#/components/schemas/UpdateDeviceMetadata'
          application/transit+json:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/UpdateDeviceMetadata'
                - type: array
                  items:
                    $ref: '#/components/schemas/UpdateDeviceMetadata'
          application/edn:
            schema:
              type: object
              x-oneOf:
                - $ref: '#/components/schemas/UpdateDeviceMetadata'
                - type: array
                  items:
                    $ref: '#/components/schemas/UpdateDeviceMetadata'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: UpdateDeviceMetadata
  /api/v1/devices/metadata-bulk:
    post:
      tags:
        - devices
      summary: Takes a csv file and updates the metadata for a device
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              type: object
              properties:
                file:
                  type: string
                  description: ""
                  format: binary
        required: true
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/metadata-keys/{existing-key}/mark-as-serial:
    put:
      tags:
        - devices
      summary: Mark an existing metadata-key as serial number
      parameters:
        - name: existing-key
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/metadata-keys/{existing-key}/unmark-as-serial:
    put:
      tags:
        - devices
      summary: Mark an existing metadata-key as serial number
      parameters:
        - name: existing-key
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/metadata-bulk-template:
    get:
      tags:
        - devices
      summary: Returns a csv file template for updating metadata for a device
      responses:
        "200":
          description: ""
          content:
            file/csv:
              schema:
                type: string
                format: binary
  /api/v1/devices/metadata-keys:
    get:
      tags:
        - devices
      summary: Get a list of metadata-keys
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - devices
      summary: Create a metadata-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataKeysSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/MetadataKeysSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/MetadataKeysSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/MetadataKeysSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: MetadataKeysSchema
  /api/v1/devices/metadata-keys/{metadata-key}:
    delete:
      tags:
        - devices
      summary: Delete a metadata-key
      parameters:
        - name: metadata-key
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/devices/provision:
    post:
      tags:
        - devices
      summary: Provision a device. returns cert & keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ProvisionSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ProvisionSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/ProvisionSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ProvisionSchema
  /api/v1/devices/{device-id}/cert:
    get:
      tags:
        - devices
      summary: Download cert for a device given device-id
      parameters:
        - name: device-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmwares:
    get:
      tags:
        - devices
      summary: Return the list of all firmwares
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - devices
      summary: Create firmware version
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - version-number
              type: object
              properties:
                file:
                  type: string
                  description: ""
                  format: binary
                version-number:
                  type: string
                  description: ""
                component-name:
                  type: string
                  description: ""
                uncompressed-size:
                  type: integer
                  description: ""
                  format: int64
        required: true
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmwares/{version-number}:
    put:
      tags:
        - devices
      summary: 'Updates firmware version to be activated or deactivated '
      parameters:
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FirmwareSchema
  /api/v1/firmwares/component/{component-name}/{version-number}:
    put:
      tags:
        - devices
      summary: 'Updates firmware version to be activated or deactivated '
      parameters:
        - name: component-name
          in: path
          required: true
          schema:
            type: string
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/FirmwareSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FirmwareSchema
  /api/v1/firmwares/{version-number}/artifact:
    get:
      tags:
        - devices
      summary: Download a firmware by version
      parameters:
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    head:
      tags:
        - devices
      summary: HEAD endpoint to check metadata about file download
      parameters:
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmwares/component/{component-name}/{version-number}/artifact:
    get:
      tags:
        - devices
      summary: Download a firmware by component name and version
      parameters:
        - name: component-name
          in: path
          required: true
          schema:
            type: string
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    head:
      tags:
        - devices
      summary: HEAD endpoint to check metadata about file download
      parameters:
        - name: component-name
          in: path
          required: true
          schema:
            type: string
        - name: version-number
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmwares/components:
    get:
      tags:
        - devices
      summary: Return the list of firmwares for components
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmwares/component/{component-name}:
    get:
      tags:
        - devices
      summary: Return the list of all firmware versions of given component
      parameters:
        - name: component-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmware-bundles:
    get:
      tags: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response697'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response697'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response697'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response697'
    post:
      tags: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleCreate'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FirmwareBundleCreate'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleCreate'
          application/edn:
            schema:
              $ref: '#/components/schemas/FirmwareBundleCreate'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareBundleCreated'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/FirmwareBundleCreated'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/FirmwareBundleCreated'
            application/edn:
              schema:
                $ref: '#/components/schemas/FirmwareBundleCreated'
      x-codegen-request-body-name: FirmwareBundleCreate
  /api/v1/firmware-bundles/id/{firmware-bundle-id}:
    get:
      tags: []
      parameters:
        - name: firmware-bundle-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/edn:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
    put:
      tags: []
      parameters:
        - name: firmware-bundle-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/edn:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FirmwareBundleUpdate
    delete:
      tags: []
      parameters:
        - name: firmware-bundle-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmware-bundles/version/{version}:
    get:
      tags: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
            application/edn:
              schema:
                $ref: '#/components/schemas/FirmwareBundle'
    put:
      tags: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
          application/edn:
            schema:
              $ref: '#/components/schemas/FirmwareBundleUpdate'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FirmwareBundleUpdate
    delete:
      tags: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/firmware-bundles/{firmware-bundle-id}/artifact:
    get:
      tags: []
      parameters:
        - name: firmware-bundle-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        default:
          description: ""
          content: {}
    head:
      tags: []
      parameters:
        - name: firmware-bundle-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        default:
          description: ""
          content: {}
  /api/v1/file:
    get:
      tags:
        - data
      summary: Return the list of all uploaded files (respects RBAC)
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - data
      summary: Create a new file (respects RBAC)
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - fileName
              type: object
              properties:
                file:
                  type: string
                  description: ""
                  format: binary
                fileName:
                  type: string
                  description: ""
        required: true
      responses:
        default:
          description: ""
          content: {}
  /api/v1/file/{id}/artifact:
    get:
      tags:
        - data
      summary: The Endpoint the device hits to download the file (respects RBAC)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/device-configs:
    get:
      tags:
        - devices
      summary: Get the list of Device Configurations
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - devices
      summary: Create new Device Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body652'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body652'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body652'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body652'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body652
  /api/v1/device-configs/{version-name}:
    get:
      tags:
        - devices
      summary: Get device config by version name
      parameters:
        - name: version-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/me:
    get:
      tags:
        - admin
      summary: Get current User object
      responses:
        default:
          description: ""
          content: {}
  /api/v1/server/settings:
    get:
      tags:
        - admin
      summary: Get settings
      responses:
        default:
          description: ""
          content: {}
  /api/v1/me/settings:
    put:
      tags:
        - admin
      summary: Update user settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body654'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body654'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body654'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body654'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body654
  /api/v1/me/tenant/settings:
    put:
      tags:
        - admin
      summary: Update tenant settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body655'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body655'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body655'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body655'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body655
  /api/v1/users:
    get:
      tags:
        - admin
      summary: Get users and their roles
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response698'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response698'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response698'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response698'
    post:
      tags:
        - admin
      summary: Create a new user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/UserSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: UserSchema
  /api/v1/users/{user-id}:
    get:
      tags:
        - admin
      summary: Get user given existing id
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    put:
      tags:
        - admin
      summary: Update a user given existing id
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/UserSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/UserSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: UserSchema
    delete:
      tags:
        - admin
      summary: Delete a user given existing id
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/tenants:
    get:
      tags: []
      summary: Returns list of tenants
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantsSchema'
            application/transit+msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantsSchema'
            application/transit+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantsSchema'
            application/edn:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantsSchema'
    post:
      tags: []
      summary: Create a new tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/CreateTenantSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/CreateTenantSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/CreateTenantSchema'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response700'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response700'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response700'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response700'
      x-codegen-request-body-name: CreateTenantSchema
  /api/v1/tenants/{tenant-id}/auth:
    get:
      tags: []
      summary: Get auth details given tenant id
      parameters:
        - name: tenant-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    put:
      tags: []
      summary: Store tenant's end user authentication method
      parameters:
        - name: tenant-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserAuthSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/EndUserAuthSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/EndUserAuthSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/EndUserAuthSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: EndUserAuthSchema
  /api/v1/auth-end-user:
    post:
      tags: []
      summary: Request authorization for tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/AuthSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/AuthSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/AuthSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: AuthSchema
  /api/v1/roles:
    get:
      tags:
        - admin
      summary: Get list of roles
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - admin
      summary: Create role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/RoleSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: RoleSchema
  /api/v1/roles/{role-id}:
    get:
      tags:
        - admin
      summary: Get a single role given role-id
      parameters:
        - name: role-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
    put:
      tags:
        - admin
      summary: Update role given role-id
      parameters:
        - name: role-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/RoleSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/RoleSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: RoleSchema
    delete:
      tags:
        - admin
      summary: Delete role given role-id
      parameters:
        - name: role-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/logs/device-certs:
    get:
      tags:
        - logs
      summary: Logs for device certifactes
      responses:
        default:
          description: ""
          content: {}
  /api/v1/logs/device-certs/{device-id}:
    get:
      tags:
        - logs
      summary: Logs for device certifactes by device id
      parameters:
        - name: device-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams:
    get:
      tags:
        - admin
      summary: Get all existing streams in clickhouse database
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - admin
      summary: Creates a stream on clickhouse database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/StreamSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/StreamSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/StreamSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: StreamSchema
  /api/v1/streams/{stream-name}/fields:
    get:
      tags:
        - admin
      summary: Get all fields given existing stream name in clickhouse database
      parameters:
        - name: stream-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/{stream-name}:
    delete:
      tags:
        - admin
      summary: Delete a stream on clickhouse database
      parameters:
        - name: stream-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/{stream-name}/fields/{field-name}:
    delete:
      tags:
        - admin
      summary: Delete a field given existing stream name in clickhouse database
      parameters:
        - name: stream-name
          in: path
          required: true
          schema:
            type: string
        - name: field-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/fields:
    post:
      tags:
        - admin
      summary: Create a field given a existing stream name in clickhouse database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/FieldSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FieldSchema
  /api/v1/streams/{stream-name}/fields/{field-name}/rename:
    put:
      tags:
        - admin
      summary: Rename a stream field
      parameters:
        - name: stream-name
          in: path
          required: true
          schema:
            type: string
        - name: field-name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body661'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body661'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body661'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body661'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body661
  /api/v1/streams/fields/update:
    post:
      tags:
        - admin
      summary: Update an existing field's type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/FieldSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/FieldSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: FieldSchema
  /api/v1/streams/fixprotobuff:
    post:
      tags:
        - admin
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/queries/{query-id}:
    get:
      tags:
        - admin
      parameters:
        - name: query-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/queries:
    get:
      tags:
        - admin
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/protobuff:
    get:
      tags:
        - admin
      summary: Return protobuff for all streams in clickhouse database
      responses:
        default:
          description: ""
          content: {}
  /api/v1/streams/computed_streams:
    post:
      tags:
        - admin
      summary: Creates computed stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputedStreamSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ComputedStreamSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ComputedStreamSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/ComputedStreamSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ComputedStreamSchema
  /api/v1/streams/detailed:
    get:
      tags:
        - admin
      summary: "Return full detail of streams with fields including if they are computed,\
        \ along with their code and parent streams"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedStreamSchema'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/DetailedStreamSchema'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/DetailedStreamSchema'
            application/edn:
              schema:
                $ref: '#/components/schemas/DetailedStreamSchema'
  /api/v1/dashboards:
    get:
      tags:
        - data
      summary: Get dashboards API
      parameters:
        - name: full-data
          in: query
          schema:
            type: boolean
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - data
      summary: Create dashboard API
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
  /api/v1/dashboards/{id}:
    get:
      tags:
        - data
      summary: Get dashboard API
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    post:
      tags:
        - data
      summary: Update dashboard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body664'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Body664'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Body664'
          application/edn:
            schema:
              $ref: '#/components/schemas/Body664'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: Body664
    delete:
      tags:
        - data
      summary: Delete dashboard API
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/panel-data:
    post:
      tags:
        - data
      summary: Get data for panels given in body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanelDataRequest'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/PanelDataRequest'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/PanelDataRequest'
          application/edn:
            schema:
              $ref: '#/components/schemas/PanelDataRequest'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: PanelDataRequest
  /api/v1/timezones:
    get:
      tags: []
      summary: Get list of timezones supported by dashboard CSV export
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response704'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Response704'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Response704'
            application/edn:
              schema:
                $ref: '#/components/schemas/Response704'
  /api/v1/panel-data-csv:
    post:
      tags:
        - data
      summary: Get data for a single panel given in the body
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - json
              type: object
              properties:
                json:
                  type: string
                  description: ""
        required: true
      responses:
        default:
          description: ""
          content: {}
  /api/v1/log-tags:
    get:
      tags: []
      parameters:
        - name: table
          in: query
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/micelio-stats-panel-details:
    post:
      tags: []
      summary: Detailed data for micelio stats panel
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
  /api/v1/dashboard-share-options:
    get:
      tags: []
      summary: Get share options for the user
      responses:
        default:
          description: ""
          content: {}
  /api/v1/stream_info:
    get:
      tags: []
      summary: Get tables and columns available for querying
      responses:
        default:
          description: ""
          content: {}
  /api/v1/apikeys:
    get:
      tags:
        - admin
      summary: Get all apikeys
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApikeysResponse'
            application/transit+msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApikeysResponse'
            application/transit+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApikeysResponse'
            application/edn:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApikeysResponse'
    post:
      tags:
        - admin
      summary: Create a new apikey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApikeySchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/ApikeySchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/ApikeySchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/ApikeySchema'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApikeysResponse'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/ApikeysResponse'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/ApikeysResponse'
            application/edn:
              schema:
                $ref: '#/components/schemas/ApikeysResponse'
      x-codegen-request-body-name: ApikeySchema
  /api/v1/apikeys/{key-or-name}:
    delete:
      tags:
        - admin
      summary: Deactivate an apikey; soft-delete
      parameters:
        - name: key-or-name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-types:
    get:
      tags: []
      summary: Get all alert types
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-rules:
    get:
      tags: []
      summary: Get all alert rules
      responses:
        default:
          description: ""
          content: {}
    post:
      tags: []
      summary: Create alert rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRulesSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/AlertRulesSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/AlertRulesSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/AlertRulesSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: AlertRulesSchema
  /api/v1/alert-groups:
    get:
      tags: []
      summary: Get all alert groups
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-rules/{alert-id}/alert-notification-rules/{notification-id}:
    get:
      tags: []
      summary: Get alert notification rule
      parameters:
        - name: alert-id
          in: path
          required: true
          schema:
            type: string
        - name: notification-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    put:
      tags: []
      summary: Update alert notification rule
      parameters:
        - name: alert-id
          in: path
          required: true
          schema:
            type: string
        - name: notification-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
    delete:
      tags: []
      summary: Delete alert notification rule
      parameters:
        - name: alert-id
          in: path
          required: true
          schema:
            type: string
        - name: notification-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-rules/{id}/alert-notification-rules:
    post:
      tags: []
      summary: Create alert notification rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertNotificationRuleSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/AlertNotificationRuleSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/AlertNotificationRuleSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/AlertNotificationRuleSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: AlertNotificationRuleSchema
  /api/v1/alert-rules/{id}/test-alert-notification-rule:
    post:
      tags: []
      summary: Test alert notification rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
  /api/v1/alert-rules/{id}:
    put:
      tags: []
      summary: Update alert rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
    delete:
      tags: []
      summary: Delete alert rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-rules/{id}/start:
    put:
      tags: []
      summary: Start alert rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/alert-rules/{id}/stop:
    put:
      tags: []
      summary: Stop alert rule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/session-types:
    get:
      tags: []
      summary: Get all session types
      responses:
        default:
          description: ""
          content: {}
    post:
      tags: []
      summary: Create session type
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
  /api/v1/session-types/{name}/start:
    put:
      tags: []
      summary: Start session type
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/session-types/{name}/stop:
    put:
      tags: []
      summary: Stop session type
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/session-types/{name}:
    delete:
      tags: []
      summary: Delete session type
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dkron/update-schedule-status/{action_id}:
    post:
      tags: []
      summary: Called by dkron repeatedly for a scheduled action until it is finished.
        It retries failed actions if needed and updates schedule status
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /api/v1/actions/{action_id}/append_phase:
    post:
      tags: []
      summary: append fixed-list phase to a schedule
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Phase'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/Phase'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/Phase'
          application/edn:
            schema:
              $ref: '#/components/schemas/Phase'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/edn:
              schema:
                $ref: '#/components/schemas/Schedule'
      x-codegen-request-body-name: Phase
  /api/v1/actions/{action_id}/schedule:
    get:
      tags: []
      summary: get schedule for an action
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/transit+msgpack:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/transit+json:
              schema:
                $ref: '#/components/schemas/Schedule'
            application/edn:
              schema:
                $ref: '#/components/schemas/Schedule'
  /api/v1/dbcs:
    get:
      tags: []
      summary: Get all DBCs for tenant
      responses:
        default:
          description: ""
          content: {}
    post:
      tags: []
      summary: Creates a DBC
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/diff:
    post:
      tags: []
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/update:
    put:
      tags: []
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}:
    get:
      tags: []
      summary: Get info about a single DBC given id
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
    put:
      tags: []
      summary: Update DBC settings
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/transit+msgpack:
            schema:
              type: object
          application/transit+json:
            schema:
              type: object
          application/edn:
            schema:
              type: object
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: ""
    delete:
      tags: []
      summary: Delete a single DBC given id
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/dbc:
    get:
      tags: []
      summary: Get dbc file for a DBC given id
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/json:
    get:
      tags: []
      summary: Get parsed version of a DBC given id
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/start:
    put:
      tags: []
      summary: Start Parser
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v1/dbcs/{dbc-id}/stop:
    put:
      tags: []
      summary: Stop Parser
      parameters:
        - name: dbc-id
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: ""
          content: {}
  /api/v2/devices:
    get:
      tags: []
      summary: Get the list of devices - paginated.
      parameters:
        - name: page
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
        - name: action-id
          in: query
          schema:
            type: integer
            format: int64
        - name: sortkey
          in: query
          schema:
            type: string
        - name: sortorder
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
      responses:
        default:
          description: ""
          content: {}
  /api/v2/devices/search:
    get:
      tags: []
      summary: Find devices by device state keys
      parameters:
        - name: key
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
            enum:
              - state
              - metadata
        - name: page
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: action-id
          in: query
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - inactive
              - active
      responses:
        default:
          description: ""
          content: {}
  /mock/test:
    get:
      tags: []
      summary: Just a test route
      responses:
        default:
          description: ""
          content: {}
  /mock/logs:
    get:
      tags: []
      summary: Get all audit Logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/dashboard:
    get:
      tags: []
      summary: Get all the Dashboard logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/dashboard/{dashboard-id}:
    get:
      tags: []
      summary: Get logs of a specific dashboard
      parameters:
        - name: dashboard-id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/metadata:
    get:
      tags: []
      summary: Get all the Metadata logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: device-id
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/metadata/{metadata-key}:
    get:
      tags: []
      summary: Get Metadata log for a key
      parameters:
        - name: metadata-key
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
        - name: device-id
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/roles:
    get:
      tags: []
      summary: Get all Role logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/logs/role/{role-name}:
    get:
      tags: []
      summary: Get logs of a role
      parameters:
        - name: role-name
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/api/v1/actions/{id}:
    get:
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: ""
          content: {}
  /mock/api/v1/actions:
    post:
      tags: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLegacyActionSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/CreateLegacyActionSchema'
          application/transit+json:
            schema:
              $ref: '#/components/schemas/CreateLegacyActionSchema'
          application/edn:
            schema:
              $ref: '#/components/schemas/CreateLegacyActionSchema'
        required: true
      responses:
        default:
          description: ""
          content: {}
      x-codegen-request-body-name: CreateLegacyActionSchema
  /mock/api/v2/actions:
    post:
      tags: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionSchema'
          application/transit+msgpack:
            schema:
              $ref: '#/components/schemas/CreateActionSchema'
          application/transit+json:
            schema:
[...]
